.city-animated {
  border-bottom: 200px solid $color-gray-dark;
  height: 620px;
  overflow: hidden;
}

.silhouette {
  position: absolute;
  bottom: 0;
}
.silhouette--batman {
  left: 50%;
  transform: translateX(-50%);
}
  
