.color-groups {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    @media screen and (min-width: $size-breakpoint-medium) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.color-token {
    color: white;
    padding: 1rem;
}

.color-token-group {
    flex-grow: 1;
}

.color-token-group-name {
    display: block;
}

.color-token-group-item-container {
    border-radius: $size-radius-base;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "medium light"
        "medium dark";
    @media screen and (min-width: $size-breakpoint-medium) {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "light"
            "medium"
            "dark";
        width: 100%;
    }
}
.color-token-group-item-0 {
    grid-area: light;
}
.color-token-group-item-1 {
    grid-area: medium;
}
.color-token-group-item-2 {
    grid-area: dark;
}

.color-token-group {
    
}